<!DOCTYPE html>
<html>
  <head>
    <title>Little Critters | Your Critter</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="cs3,html,css,pshs" />
    <meta name="description" content="Tamagotchi-inspired Digital Pet Game" />
    <meta name="author" content="Amber Niccole Nacino, Sabrina Frias" />
    <link rel="icon" type="image/png" href="/img/icon.png" />
    <meta name="revised" content="Dec 2024" />
    <link href="styledeploy.css" rel="stylesheet" type="text/css" />
  </head>

  <body >
    

    <div class="column" id="main-content""> <!--main-->

    <h2>Welcome! Register or log-in below.</h1>
    <form action='/enter' method='get'>

      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="log-username" required>
    </input>

      <br><br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="log-password" required>
    </input>
      <div id="div-toggle">
        <input type="checkbox" onclick="passwordToggle()"></input>
        <p id="log-toggle">Show Password</p>
        </div>

      <input type="submit" value = "Enter Game">
    </input>
      </form>

      

      
    </div> <!--main-->
    

    

    <script defer src="script.js">      
    </script>
  </body>
</html>
