/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* --- GENERAL STUFF --- */
html {
  font-family: "Sour Gummy";
  background-color: #18003d;
}

body {
  background-image:
}

#main-content {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 0;
}

/* Text */
caption {
  color: white;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white;
}

#welcome-para {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: darkpurple;
  box-shadow: 0 0 10px 2px #645394;
}

.htp-para {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border-style: solid;
  border-radius: 10px;
  padding: 17px;
  border-color: darkpurple;
  box-shadow: 0 0 10px 2px #645394;
}

.instru-title {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  border-color: #ffe5f1;
  width: 350px;
  margin: auto;
  box-shadow: 0 0 10px 2px #fecaff;
  cursor: url("public/img/star.png"), auto;
}

#SM,
#Source {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  border-color: #ffe5f1;
  margin: auto;
  width: 350px;
  text-align: center;
}

#SM-Content,
#Source-Content {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border: 5px double black;
  margin: auto;
  text-align: center;
}

/* Center */
header,
section,
footer {
  text-align: center;
}

/* --- DIV --- */
#div-index-header {
  margin: 50px 0 50px 0;
}

#div-index-content {
  align-content: center;
  margin: 50px auto 50px auto;
  width: 80%;
  height: 250px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
}

#div-index-button-left {
  margin: auto auto auto 25px;
  height: 60px;
  width: 60px;
}

#div-index-button-right {
  margin: auto 25px auto auto;
  height: 60px;
  width: 60px;
}

#div-index-img {
  margin: auto auto auto auto;
  padding: 10px;
  height: 11.375em;
  width: 11.375em;
  img {
    height: 9.375em;
    margin: 0 auto auto auto;
  }
  p {
    line-height: 0px;
    margin: ;
  }
  h3 {
    margin: -4px 0 10px 0;
  }
}

/* --- NAV BAR --- */
nav {
  background-image: linear-gradient(#f5f0f4, #ffffff);
  filter: drop-shadow(0 0 15px #a937e6);
  margin: 30px auto 0 auto;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 45%;
  height: 15%;
  border-width: 0 3px 3px 3px;
  border-radius: 50px;
}

nav a img {
  width: 8%;
  height: 8%;
  margin: 5px 25px 5px 25px;
}
nav a img:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 10px #ff57e950) drop-shadow(0 0 10px #ff57e950)
    drop-shadow(0 0 10px #ff57e950);
}

/* --- HEADINGS / TEXT --- */

nav h1 {
  line-height: 15px;
  margin: 10px auto 20px auto;
  color: #120a24;
  text-shadow: 0px 0px 5px #c272ee70;
}

#div-index-header h1,
h3 {
  line-height: 8px;
}

/* --- IMAGES --- */

.gallery-index-img {
  width: 50px;
  height: 50px;
}

#instru-body {
  background-image: url("https://cdn.discordapp.com/attachments/1002593021239504937/1320351985614196778/Untitled75_20241222192706.png?ex=6769491c&is=6767f79c&hm=4e6a3290a0b48f60faaa18706c3fec51b5660a3a2c02f7a0fbf1692342cb025e&");
  background-size: auto;
}

/* --- SIDE BANNER --- */
#sidebar-left {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  height: 140%;
  width: 20%;
}

#sidebar-right {
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
  height: 140%;
  width: 20%;
}

/* --- BUTTONS --- */

.gallery-button button {
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.gallery-button button:hover {
  box-shadow: 0 0 5px lightblue;
}

#SM-Button,
#Source-Button {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border: 5px double black;
  cursor: pointer;
  text-align: center;
  margin: 10px auto 10px auto;
  align-content: center;
  padding: 10px 20px;
}

#SM-Button:hover,
#Source-Button:hover {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
}

#currency {
  width: 6em;
  height: 2em;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  background-image: linear-gradient(#f5f0f4, #ff00dd70, transparent);
  filter: drop-shadow(0 0 15px #a937e6);
  border-radius: 50px;
}
