/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* --- GENERAL STUFF --- */
html {
  font-family: "Sour Gummy";
  height: 100vh;
}
body {
  background-image: url("img/background.png");
background-repeat: repeat-x;
}

#main-content {
  text-align: center;
  margin: auto;
  width: 60%;
  height: 100%;
  padding: 0;
}

/* Text */
input {
  text-align: center;
}


h1 {
  font-size:30px;
  line-height:20px;
}
h3 {
  font-size: 20px;
  line-height:20px;
}

/* Center */
header, section, footer {
  text-align: center;
}

/* --- DIV --- */


/* --- ANIAMTIONS --- */ 
@keyframes floating {
  0%   {translate: 0px 0px;}
  50%  {translate: 0px -5px;}
  100% {translate: 0px 0px;}
}

#SM-Button, #Source-Button {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border: 5px double black;
  cursor: pointer;
  text-align: center;
  margin: 10px auto 10px auto;
  align-content: center;
  padding: 10px 20px;
}

#SM-Button:hover, #Source-Button:hover{
   background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
}

#SM-Content, #Source-Content{
   background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border: 5px double black;
  margin: auto;
  text-align: center;
}

#main-content {
  background-color: #ffffff90;
  border-radius: 70px;
  margin: auto;
  margin-top: 25vh;
  width: 600px;
  height: 400px;
  filter: drop-shadow(0 0 15px #e65cd3);
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  input {
    border-radius: 20px;
    height: 30px;
    font-size: 25px;
  }
}

p {
  display: inline;
  font-size: 20px;
  margin: 0 5px;
}

#div-toggle {
  margin-top: 5px;
  input {
    height: 15px;
    width: 15px;
  }
}