/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* --- GENERAL STUFF --- */
html {
  font-family: "Sour Gummy";
  background-color: #18003d;
  height: 100vh;
}

#main-content {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 0;
}

/* Text */
h1 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  color: white;
}

/* Center */
header,
section,
footer {
  text-align: center;
}

/* --- DIV --- */
#div-index-header {
  margin: 50px auto 50px auto;
  height: fit-content;
  padding: 10px;
  width: 50%;
  border-radius: 80px;
  background-image: linear-gradient(#f5f0f450, #e2a1da50);
  animation-name: sunsetshadow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  h1,
  h3 {
    color: white;
    text-shadow: 0px 0px 10px #ffffff40;
  }
  img {
    height: inherit;
    width: inherit;
    filter: drop-shadow(0 0 10px #ffffff40);
  }
}

#div-index-content {
  align-content: center;
  margin: 50px auto 50px auto;
  width: 70%;
  height: fit-content;
  border-radius: 100px;
  padding: 30px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  overflow: hidden;
  background-image: linear-gradient(#f5f0f4, #ff00dd70, transparent);
  filter: drop-shadow(0 0 15px #a937e6);
  h3 {
    color: #120a24;
    text-shadow: 0px 0px 5px #c272ee70;
  }
  p {
    text-shadow: 0px 0px 5px #c272ee70;
  }
}

#div-index-button-left {
  margin: auto;
  height: 60px;
  width: 60px;
}

#div-index-button-right {
  margin: auto;
  height: 60px;
  width: 60px;
}

#div-index-img {
  margin: auto auto auto auto;
  align-content: center;
  padding: 10px;
  height: fit-content;
  width: 100%;
  img {
    width: 70%;
    margin: auto;
  }
  p {
    line-height: 20px;
  }
  h3 {
    margin: -4px 0 10px 0;
    width: inherit;
    line-height: 20px;
  }
}

/* --- NAV BAR --- */
nav {
  background-image: linear-gradient(#f5f0f4, #ffffff);
  filter: drop-shadow(0 0 15px #a937e6);
  margin: 30px auto 0 auto;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 45%;
  height: 15%;
  border-width: 0 3px 3px 3px;
  border-radius: 50px;
}

nav a img {
  width: 8%;
  height: 8%;
  margin: 5px 25px 5px 25px;
}
nav a img:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 10px #ff57e950) drop-shadow(0 0 10px #ff57e950)
    drop-shadow(0 0 10px #ff57e950);
}

/* --- HEADINGS / TEXT --- */

nav h1 {
  line-height: 15px;
  margin: 10px auto 20px auto;
  color: #120a24;
  text-shadow: 0px 0px 5px #c272ee70;
}

#div-index-header h1,
h3 {
  line-height: 8px;
}

/* --- IMAGES --- */

.gallery-index-img {
  width: 50px;
  height: 50px;
}

#home-body {
  background-image: url("");
}

/* --- SIDE BANNER --- */
#sidebar-left {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  background-image: url("img/background.png");
  min-height: 140%;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebar-right {
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
  background-image: url("img/background.png");
  min-height: 140%;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- BUTTONS --- */

.gallery-button-div {
  align-content: center;
}

.gallery-button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  img {
    align-content: center;
    height: 40px;
    width: 40px;
  }
}

.gallery-button img:hover {
  height: 45px;
  width: 45px;
  filter: drop-shadow(0 0 5px #ff57e950) drop-shadow(0 0 5px #ff57e950)
    drop-shadow(0 0 5px #ff57e950);
}

#div-index-button-left:hover {
  animation-name: arrowleft;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#div-index-button-right:hover {
  animation-name: arrowright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes arrowleft {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: -10px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes arrowright {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 10px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

#div-index-content {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  img:hover,
  p:hover,
  h3:hover {
    filter: drop-shadow(0 0 5px #ff57e950) drop-shadow(0 0 5px #ff57e950)
      drop-shadow(0 0 5px #ff57e950);
  }
  img {
    animation-name: pulsing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

@keyframes floating {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px -10px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes pulsing {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

@keyframes sunsetshadow {
  0% {
    filter: drop-shadow(0 0 5px #8957ff) drop-shadow(0 0 5px #8957ff);
  }
  15% {
    filter: drop-shadow(0 0 5px #b357ff) drop-shadow(0 0 5px #b357ff);
  }
  35% {
    filter: drop-shadow(0 0 5px #db57ff) drop-shadow(0 0 5px #db57ff);
  }
  50% {
    filter: drop-shadow(0 0 5px #ff57db) drop-shadow(0 0 5px #ff57db);
  }
  75% {
    filter: drop-shadow(0 0 5px #db57ff) drop-shadow(0 0 5px #db57ff);
  }
  95% {
    filter: drop-shadow(0 0 5px #b357ff) drop-shadow(0 0 5px #b357ff);
  }
  100% {
    filter: drop-shadow(0 0 5px #8957ff) drop-shadow(0 0 5px #8957ff);
  }
}

#SM-Button,
#Source-Button {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border: 5px double black;
  cursor: pointer;
  text-align: center;
  margin: 10px auto 10px auto;
  align-content: center;
  padding: 10px 20px;
}

#SM-Button:hover,
#Source-Button:hover {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
}

#SM-Content,
#Source-Content {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border: 5px double black;
  margin: auto;
  text-align: center;
}

#currency {
  width: 6em;
  height: 2em;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  background-image: linear-gradient(#f5f0f4, #ff00dd70, transparent);
  filter: drop-shadow(0 0 15px #a937e6);
  border-radius: 50px;
}