/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* --- GENERAL STUFF --- */
html {
  font-family: "Sour Gummy";
  background-color: #18003d;
}

#main-content {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 0;
}

/* Text */
h1 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  color: white;
}



/* Center */
header,
section,
footer {
  text-align: center;
}

/* --- DIV --- */
#div-index-header {
  margin: 50px auto 50px auto;
  height: fit-content;
  padding: 10px;
  width: 50%;
  border-radius: 80px;
  background-image: linear-gradient(#f5f0f450, #e2a1da50);
  animation-name: sunsetshadow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  h1,
  h3 {
    color: white;
    text-shadow: 0px 0px 10px #ffffff40;
  }
  img {
    height: inherit;
    width: inherit;
    filter: drop-shadow(0 0 10px #ffffff40);
  }
}

#div-shop-gallery {

}





/* --- NAV BAR --- */
nav {
  background-image: linear-gradient(#f5f0f4, #ffffff);
  filter: drop-shadow(0 0 15px #a937e6);
  margin: 30px auto 0 auto;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 45%;
  height: 15%;
  border-width: 0 3px 3px 3px;
  border-radius: 50px;
}

nav a img {
  width: 8%;
  height: 8%;
  margin: 5px 25px 5px 25px;
}
nav a img:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 10px #ff57e950) drop-shadow(0 0 10px #ff57e950)
    drop-shadow(0 0 10px #ff57e950);
}

/* --- HEADINGS / TEXT --- */

nav h1 {
  line-height: 15px;
  margin: 10px auto 20px auto;
  color: #120a24;
  text-shadow: 0px 0px 5px #c272ee70;
}

#div-index-header h1,
h3 {
  line-height: 8px;
}

/* --- SIDE BANNER --- */
#sidebar-left {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  background-image: url("img/background.png");
  min-height: 190%;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebar-right {
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
  background-image: url("img/background.png");
  min-height: 190%;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sources */

#SM-Button,
#Source-Button {
  background-image: radial-gradient(#fecaff, #f283ff, #a500ff);
  border: 5px double black;
  cursor: pointer;
  text-align: center;
  margin: 10px auto 10px auto;
  align-content: center;
  padding: 10px 20px;
}

#SM-Button:hover,
#Source-Button:hover {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
}

#SM-Content,
#Source-Content {
  background-image: radial-gradient(#a500ff, #f283ff, #fecaff);
  border: 5px double black;
  margin: auto;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
}

/* the stuff like the cooking yes*/

#ingredients {
  border: 2px solid green;
  border-radius: 10px;
  
}
  #bread {

  }

  #rice {
    
  }

#cookbook {
  
}

#cookingTable {
  
}