#content{
  margin: auto;
  height: 400px;
  margin-top: 25px;
  box-sizing: border-box;
  margin-bottom: 400px;
  div {
    margin: 20px auto;
  }
}

#top {
  height: 15%;
  width: 55%;
  padding-top: 0;
  filter: drop-shadow(0 0 10px #ffffff);
  border-radius: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 55% 15% 20%;
}

#main {
  height: 15px;
  width: 55%;
  height: 90%;
  box-shadow: 0px 10px 20px #ff14d440 inset;
  background-image: linear-gradient(#f5f0f4, #e2a1da99);
  filter: drop-shadow(0 0 10px #ffffff);
  border-radius: 20px;
  margin: 5px auto;
  box-sizing: border-box;
  padding: 20px;
}

#bottom {
  height: 15px;
  width: 55%;
  height: 15%;
  background-image: linear-gradient(#f5f0f4, #e2a1da99);
  box-shadow: 0px 10px 20px #ff14d440 inset;
  filter: drop-shadow(0 0 10px #ffffff);
  border-radius: 20px;
  margin: 5px auto;
  box-sizing: border-box;
}

#gallery-content {
  align-content: center;
  margin: auto;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 6% 84% 10%;
  background-image: linear-gradient(#f5f0f4, #ff00dd70);
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
  color: #18003d;
  box-shadow: 0px -10px 20px #ca026360 inset, 0 0 20px #cc009660;
  overflow: hidden;
}

#div-index-img {
  
  text-align: center;
  overflow-y: auto;
  margin-top: 0;
  height: 100%;
  img:hover,
  p:hover,
  h3:hover {
    filter: drop-shadow(0 0 5px #ff57e950) drop-shadow(0 0 5px #ff57e950)
      drop-shadow(0 0 5px #ff57e950);
  }
  img {
    animation-name: pulsing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  img {
    height: 60%;
    margin: auto;
    object-fit: contain;
  }
  p, h3 {
    color: #18003d;
    text-shadow: 0 0 5px #fb00ff90;
  }
}

#menu-button {
  background-color: cyan;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: -20px auto auto 0;
  margin: 5px;
}

#menu-main {
  background-color: #ff00ea;
  height: 100%;
  width: 0;
  margin-left: 0;
  z-index: -50;
  border-radius: 15px;
  margin: 5px;
  transition: 0.5s;
}

#cash {
  background-color: cyan;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 5px;
}

#time {
  background-color: #ff00bb;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 5px;
}